* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo da página */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #FBFBFB;
    display: flex;
    justify-content:flex-end;
    align-items: center; /* Adicionado para centralizar verticalmente */
    height: 100%;
    padding: 20px; 
}
section.lado {
    background-color: #96ADD6;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 1200px; 
    margin: 30px ;
    height: 100%; 
    width: 100%; 
    
}


/* Estilo da seção do formulário */
section.dados {
    background-color: #F5F5F5;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 900%;
    max-width: 700px;
    margin: 20px;
    
}

/* Estilo dos campos de entrada (inputs) */
form input, form textarea, form select {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border-radius: 6px;
    margin-bottom: 20px; 
}



/* Estilo do botão */
form button {
    background-color: #4a90e2;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 6px;
  
}  


form button:hover {
    background-color: #3b7ab8; 
}



